.f-input{
    margin: 10px;
    padding: 10px 15px;
    border: 2px solid red;
    border-radius: 5px; 
    width: 100%;
}

.f-contenedor{
    margin: 8%;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 10px;
    background: #000;
    opacity: 0.5;
    
}

.b-input{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}